@use '../index' as *;

.GeneratePDF-text {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.GeneratePDF {
    font-size: 18px;
}
.GeneratePDF a {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: $background-color;
    color: white;
    text-decoration: none;
    :hover {
        background-color: $secundary-color;
        color: $background-color;
    }
}
.GeneratePDF a:hover {
    background-color: $secundary-color;
    color: $background-color;
   
}
.GeneratePDF-text-mini {
    margin-top: 20px;
}

