@import "../Vars.scss";
@import "../Media.scss";

.Header {
  position:fixed;
   top:0;
   z-index: 1000;
   width: 100vw;
    transition: all .5s ease-in-out;
    padding: 10px;
    background-color: $secundary-color;
    color: $background-color;    
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.Header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
.Header a {
    color: $background-color;
    text-decoration: none;
    padding: 0 10px;
}
.Header a:hover {
    color: #8841DA;
    text-decoration: underline;
}
.Header ol {
    display: flex;
    height: inherit;
  }
.Header ol li {
    height: inherit;
  }
.Header-logo {
    display: flex;
    justify-content: space-around;
    animation:lsdGrid 1.5s ease-in-out;  
}
.header__menu {
    margin-right: 20px;
     }
  
  .header__menu ul {
    background-color: $background-color;
    border-radius: 20px;
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    width: 160px;
    text-align: center; }
  
  .header__menu:hover ul {
    display: block;     
    animation: lsdGrid 0.5s ease-in-out;  
    }
  
  .header__menu li {
    margin: 5px 20px; }
  
  .header__menu li a {
    color: $secundary-color;
    text-decoration: none; }
  
  .header__menu li a:hover {
    text-decoration: underline;
    color: white; }
  
  .header__menu--profile {
    align-items: center;
    display: flex;
    cursor: pointer; }

.Header_toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
}
.Header-button:focus {
    outline: none;
}
.Header_toggle-button_line {
    width: 30px;
    height: 2px;
    background: $background-color;
    display: none;
}


@keyframes lsdGrid {  
    0% {        
      opacity: 0;   
    }  
    50% {
    }
    100% {
      opacity: 1;      
    } 
  }

@media only screen and (max-width: 769px) {
    
    .Header {
        padding: 0;
        width: 100%;
    }
    .Header-menu {
        display: none;
    }
    .Header-container {
        justify-content: space-between;
    }
    .Header-logo {
        padding: 0;
        margin: 0 25px;

    }
    .Header_toggle-button_line {
        display: block;
    }
	
}