@import "../Vars.scss";
@import "../Media.scss";

.login {
    
    background: linear-gradient( $main-color, $secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 100vh;
}
.login-container {
    margin: 40px 20px;
    background-color: rgba(255,255,255, 0.1);
    border: 2px solid $purple-color;
    border-radius: 40px;
    color: black;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 35%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login-container img {
    width: 60px;
    margin: 10px 38%;
}
.login-container h2 {
    margin: 0 auto;
}
.login-container p {
    margin: 0 auto;
}
.login-container__form {
    display: flex;
    flex-direction: column;
}
.login-container__form label {
    font-size: 14px;
}
.login-container__remember {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login-container__remember a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.login-container__remember a:hover {
    text-decoration: underline;
}
.login-container__social > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login-container__social > div > img {
    width: 30px;
    margin-right: 10px;
}
.login-container__register {
    font-size: 14px;
}
.login-container__register a {
    font-size: 16px;
    font-weight: bold;
    color: $purple-color;
    text-decoration: none;
}
.login-container__register a:hover {
    text-decoration: underline;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-right: 0pc;
    border-top: 0px;
    border-bottom: 2px solid $purple-color;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
}
::placeholder {
    color: $purple-color;
}
.button {
    background-color: rgba(255,255,255, 0.7);
    border: none;
    border-radius: 25px;
    color: $purple-color;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
    
    .login-container {
        
        width: 70%;
    }

	
}
@media only screen and (max-width: 426px) {
    .login {
        padding: 0 5px;
    }
    .login-container {
        
        width: 100%;
    }

}