.NotFound {
    height: calc(100vh - 657px);
    text-align: center;
    margin: 220px 0;
}
.NotFound h1 {
    font-size: 60px;
}
.NotFound .a {
    color: purple;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    

    .NotFound {
        height: calc(100vh - 350px);
        margin-top: 100px;
        margin-bottom: 0;
    }
}

