@import "./Vars.scss";
@import "./Media.scss";

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: $theme-font;
}

* {
    box-sizing: border-box;
}

a {
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    transition: all 0.5s ease-in-out;
  }

