@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;
$main-color: #ebebeb;
$secundary-color: #f4d3cc;
$other-color: #727272;
$purple-color: #490597;
$background-color: #3c5d79;


// Para etiquetas a de codigos con fondo gris @extend .codigo;

.codigo {
    font-weight: bold;
    background-color: rgb(212, 211, 211);
    padding: 20px;
    border-left: 4px solid orange;

}

// Con mixin usar con @include codigo-comando;

@mixin codigo-comando {

}
